@using ProjectMusicSound.Models
@model User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url('../../Content/Layout/img/bg-img/BannerSignp.jpg');">
    <div class="bradcumbContent">
        <p>Xin chào bạn!</p>
        <h2>Đăng Nhập</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### Login Area Start ##### -->
<section class="login-area section-padding-100" style="margin-top: -5%">
    <div class="container" style="width: 50%">
        <div>
            <center>
                <button class="ui facebook button">
                    <i class="facebook icon"></i>
                    Facebook
                </button>
                <button class="ui twitter button">
                    <i class="twitter icon"></i>
                    Twitter
                </button>
                <button class="ui google plus button">
                    <i class="google plus icon"></i>
                    Google Plus
                </button>
            </center>
        </div>
        <div class="ui horizontal divider">Hoặc</div>
        <form method="post" class="ui form segment">
            <p>Nhập Tài Khoản Của Bạn</p>
            <div class="field">
                <label>Email</label>
                <input placeholder="Nhập vào email" name="user_email" type="email">
            </div>
            <div class="field">
                <label>Mật Khẩu</label>
                <input type="password" name="user_pass" id="user_pass" placeholder="Nhập vào mật khẩu">
            </div>
            <div class="two fields">
                <div class="field">
                    <label style="color: lightslategray">Bạn chưa có tài khoản? Hãy <a href="@Url.Action("Create", "Users")" style="font-size: 13px">tạo tài khoản</a> ngay</label>
                </div>
                <div class="inline field text-right">
                    <a href="#" style="font-size: medium">Quên Mật Khẩu?</a>
                </div>
            </div>
            <div class="ui primary submit button">Đăng Nhập</div>
            <div class="ui error message"></div>
            <div class="field">
                <label style="color: red; font-size: medium">
                    @ViewBag.CheckLogin
                </label>
            </div>
        </form>
    </div>
</section>