@using ProjectMusicSound.Models
@model User
@{
    ViewBag.Title = "Template";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    MusicDataEntities db = new MusicDataEntities();
    HttpCookie httpCookie = Request.Cookies["user_id"];
    User user = db.Users.Find(int.Parse(httpCookie.Value.ToString()));
    List<Profile> profile = db.Profiles.ToList();
}
<style>
    .canchinh {
        margin-top: 10%;
        margin-bottom: 10%;
    }
</style>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.4.95/css/materialdesignicons.css">
<link href="~/Content/Layout/css/profile.css" rel="stylesheet" />
<!-- partial -->
<!-- ##### Header Area Start ##### -->
@Html.Action("MenuUser", "View")
<div class="canchinh">
    <div class="main-panel">
        <div class="container">
            <div class="row">
                <div class="col-md-4 grid-margin stretch-card">
                    <div class="card">
                        <div class="profile-card">

                            <div class="profile-header">

                                <div class="cover-image">
                                    <img src="~/Images/User/@user.user_img" class="img img-fluid" style="width: 100%">
                                </div>
                                <div class="user-image">
                                    <img src="~/Images/User/@user.user_img" class="img ">
                                </div>
                            </div>

                            <div class="profile-content">
                                <div class="profile-name">@user.user_name</div>
                                @if (user.role_id == 1)
                                {
                                    <div class="profile-designation">Người Dùng</div>
                                }
                                <p class="profile-description">Hồ sơ cá nhân.</p>
                                <ul class="profile-info-list">
                                    <a href="" class="profile-info-list-item"><i class="mdi mdi-eye"></i>Xem Trang Cá Nhân</a>
                                    <a href="@Url.Action("EditPass", "Users", new { id = user.user_id})" class="profile-info-list-item"><i class="mdi mdi-bookmark-check"></i>Thay Đổi Mật Khẩu</a>
                                    <a href="" class="profile-info-list-item"><i class="mdi mdi-account"></i>Thay Đổi Thông Tin Cá Nhân</a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <?php include'includes/admin_footer.php' ?>
        <!-- partial -->
    </div>
</div>


