<div class="sidebar" data-image="/Content/LayoutAdmin/assets/img/sidebar-5.jpg" data-color="orange">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="@Url.Action("Index", "Home")" class="simple-text">
                MUSIC SOUND ADMIN
            </a>
        </div>
        <ul class="nav">
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index", "HomeAdmin")">
                    <i class="nc-icon nc-chart-pie-35"></i>
                    <p>Thống Kê</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="@Url.Action("Index", "UsersAdmin")">
                    <i class="nc-icon nc-circle-09"></i>
                    <p>Hồ Sơ Người Dùng</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="@Url.Action("Index", "CategoriesAdmin")">
                    <i class="nc-icon nc-notes"></i>
                    <p>Danh Sách Thể Loại</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="./typography.html">
                    <i class="nc-icon nc-paper-2"></i>
                    <p>Typography</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="./icons.html">
                    <i class="nc-icon nc-atom"></i>
                    <p>Icons</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="./maps.html">
                    <i class="nc-icon nc-pin-3"></i>
                    <p>Maps</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="./notifications.html">
                    <i class="nc-icon nc-bell-55"></i>
                    <p>Notifications</p>
                </a>
            </li>
            <li class="nav-item active active-pro">
                <a class="nav-link active" href="upgrade.html">
                    <i class="nc-icon nc-alien-33"></i>
                    <p>Upgrade to PRO</p>
                </a>
            </li>
        </ul>
    </div>
</div>
