@model IEnumerable<ProjectMusicSound.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Action("Menu", "View")
<div class="container-fluid mt-3 mb-5">
    <!--Ảnh chờ-->
    <div>
        <img class="ui medium rounded image" src="~/Images/6020a18d66b6a7a93140111bb846920d.jpg" style="width: 100%; height: 200px">
    </div>
    <div class="mt-3">
        <a href="#" style="color: black">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="ui header">Second header</h2>
                </div>
                <div class="col-lg-6 text-right">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
        </a>
        <div class="row mt-2">
            <div class="col-lg-3">
                <a href="#"><img class="ui rounded image" src="~/Images/Charlie_Puth_-_Attention_(Official_Single_Cover).png" style="width: 300px; height: 180px"></a>
                <div class="content">
                    <div class="description" style="margin-top: 3%">
                        <div class="ui medium header">Medium Header</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <a href="#"><img class="ui rounded image" src="~/Images/Charlie_Puth_-_Attention_(Official_Single_Cover).png" style="width: 300px; height: 180px"></a>
                <div class="content">
                    <div class="description" style="margin-top: 3%">
                        <div class="ui medium header">Medium Header</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <a href="#"><img class="ui rounded image" src="~/Images/Charlie_Puth_-_Attention_(Official_Single_Cover).png" style="width: 300px; height: 180px"></a>
                <div class="content">
                    <div class="description" style="margin-top: 3%">
                        <div class="ui medium header">Medium Header</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <a href="#"><img class="ui rounded image" src="~/Images/Charlie_Puth_-_Attention_(Official_Single_Cover).png" style="width: 300px; height: 180px"></a>
                <div class="content">
                    <div class="description" style="margin-top: 3%">
                        <div class="ui medium header">Medium Header</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <a href="#" style="color: black">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="ui header">Second header</h2>
                </div>
                <div class="col-lg-6 text-right">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
        </a>
        <div class="row mt-2">
            <div class="col-lg-3">
                <a href="#"><img class="ui rounded image" src="~/Images/Charlie_Puth_-_Attention_(Official_Single_Cover).png" style="width: 300px; height: 180px"></a>
                <div class="content">
                    <div class="description" style="margin-top: 3%">
                        <div class="ui medium header">Medium Header</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <a href="#"><img class="ui rounded image" src="~/Images/Charlie_Puth_-_Attention_(Official_Single_Cover).png" style="width: 300px; height: 180px"></a>
                <div class="content">
                    <div class="description" style="margin-top: 3%">
                        <div class="ui medium header">Medium Header</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <a href="#"><img class="ui rounded image" src="~/Images/Charlie_Puth_-_Attention_(Official_Single_Cover).png" style="width: 300px; height: 180px"></a>
                <div class="content">
                    <div class="description" style="margin-top: 3%">
                        <div class="ui medium header">Medium Header</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <a href="#"><img class="ui rounded image" src="~/Images/Charlie_Puth_-_Attention_(Official_Single_Cover).png" style="width: 300px; height: 180px"></a>
                <div class="content">
                    <div class="description" style="margin-top: 3%">
                        <div class="ui medium header">Medium Header</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <a href="#" style="color: black">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="ui header">Second header</h2>
                </div>
                <div class="col-lg-6 text-right">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
        </a>
        <div class="row mt-2">
            <div class="col-lg-3">
                <a href="#"><img class="ui rounded image" src="~/Images/Charlie_Puth_-_Attention_(Official_Single_Cover).png" style="width: 300px; height: 180px"></a>
                <div class="content">
                    <div class="description" style="margin-top: 3%">
                        <div class="ui medium header">Medium Header</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <a href="#"><img class="ui rounded image" src="~/Images/Charlie_Puth_-_Attention_(Official_Single_Cover).png" style="width: 300px; height: 180px"></a>
                <div class="content">
                    <div class="description" style="margin-top: 3%">
                        <div class="ui medium header">Medium Header</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <a href="#"><img class="ui rounded image" src="~/Images/Charlie_Puth_-_Attention_(Official_Single_Cover).png" style="width: 300px; height: 180px"></a>
                <div class="content">
                    <div class="description" style="margin-top: 3%">
                        <div class="ui medium header">Medium Header</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <a href="#"><img class="ui rounded image" src="~/Images/Charlie_Puth_-_Attention_(Official_Single_Cover).png" style="width: 300px; height: 180px"></a>
                <div class="content">
                    <div class="description" style="margin-top: 3%">
                        <div class="ui medium header">Medium Header</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <a href="#" style="color: black">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="ui header">Second header</h2>
                </div>
                <div class="col-lg-6 text-right">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
        </a>
        <div class="row mt-2">
            <div class="col-lg-3">
                <a href="#"><img class="ui rounded image" src="~/Images/Charlie_Puth_-_Attention_(Official_Single_Cover).png" style="width: 300px; height: 180px"></a>
                <div class="content">
                    <div class="description" style="margin-top: 3%">
                        <div class="ui medium header">Medium Header</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <a href="#"><img class="ui rounded image" src="~/Images/Charlie_Puth_-_Attention_(Official_Single_Cover).png" style="width: 300px; height: 180px"></a>
                <div class="content">
                    <div class="description" style="margin-top: 3%">
                        <div class="ui medium header">Medium Header</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <a href="#"><img class="ui rounded image" src="~/Images/Charlie_Puth_-_Attention_(Official_Single_Cover).png" style="width: 300px; height: 180px"></a>
                <div class="content">
                    <div class="description" style="margin-top: 3%">
                        <div class="ui medium header">Medium Header</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <a href="#"><img class="ui rounded image" src="~/Images/Charlie_Puth_-_Attention_(Official_Single_Cover).png" style="width: 300px; height: 180px"></a>
                <div class="content">
                    <div class="description" style="margin-top: 3%">
                        <div class="ui medium header">Medium Header</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <a href="#" style="color: black">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="ui header">Second header</h2>
                </div>
                <div class="col-lg-6 text-right">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
        </a>
        <div class="row mt-2">
            <div class="col-lg-3">
                <a href="#"><img class="ui rounded image" src="~/Images/Charlie_Puth_-_Attention_(Official_Single_Cover).png" style="width: 300px; height: 180px"></a>
                <div class="content">
                    <div class="description" style="margin-top: 3%">
                        <div class="ui medium header">Medium Header</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <a href="#"><img class="ui rounded image" src="~/Images/Charlie_Puth_-_Attention_(Official_Single_Cover).png" style="width: 300px; height: 180px"></a>
                <div class="content">
                    <div class="description" style="margin-top: 3%">
                        <div class="ui medium header">Medium Header</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <a href="#"><img class="ui rounded image" src="~/Images/Charlie_Puth_-_Attention_(Official_Single_Cover).png" style="width: 300px; height: 180px"></a>
                <div class="content">
                    <div class="description" style="margin-top: 3%">
                        <div class="ui medium header">Medium Header</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <a href="#"><img class="ui rounded image" src="~/Images/Charlie_Puth_-_Attention_(Official_Single_Cover).png" style="width: 300px; height: 180px"></a>
                <div class="content">
                    <div class="description" style="margin-top: 3%">
                        <div class="ui medium header">Medium Header</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <a href="#" style="color: black">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="ui header">Second header</h2>
                </div>
                <div class="col-lg-6 text-right">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
        </a>
        <div class="row mt-2">
            <div class="col-lg-3">
                <a href="#"><img class="ui rounded image" src="~/Images/Charlie_Puth_-_Attention_(Official_Single_Cover).png" style="width: 300px; height: 180px"></a>
                <div class="content">
                    <div class="description" style="margin-top: 3%">
                        <div class="ui medium header">Medium Header</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <a href="#"><img class="ui rounded image" src="~/Images/Charlie_Puth_-_Attention_(Official_Single_Cover).png" style="width: 300px; height: 180px"></a>
                <div class="content">
                    <div class="description" style="margin-top: 3%">
                        <div class="ui medium header">Medium Header</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <a href="#"><img class="ui rounded image" src="~/Images/Charlie_Puth_-_Attention_(Official_Single_Cover).png" style="width: 300px; height: 180px"></a>
                <div class="content">
                    <div class="description" style="margin-top: 3%">
                        <div class="ui medium header">Medium Header</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <a href="#"><img class="ui rounded image" src="~/Images/Charlie_Puth_-_Attention_(Official_Single_Cover).png" style="width: 300px; height: 180px"></a>
                <div class="content">
                    <div class="description" style="margin-top: 3%">
                        <div class="ui medium header">Medium Header</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
