@model ProjectMusicSound.Models.Category

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<form class="ui form segment" method="post" enctype="multipart/form-data">
    <p>Thêm Thể Loại</p>
    <div class="field">
        <label>Tên thể loại</label>
        <input name="category_name" placeholder="Nhập vào tên thể loại..." type="text" />
    </div>
    <div class="field">
        <label>Ghi Chú</label>
        <textarea name="category_note"></textarea>
    </div>
    <div class="two fields">
        <div class="field">
            <label>Trạng Thái</label>
            <select class="ui dropdown" name="category_active">
                <option value="True">Hoạt Động</option>
                <option value="False">Không Hoạt Động</option>
            </select>
        </div>
    </div>
    <div class="ui primary submit button">Thêm</div>
    <div class="ui error message"></div>
</form>