@model ProjectMusicSound.Models.Singer

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<form method="post" enctype="multipart/form-data" class="ui form segment">
    <div class="field">
        <label>Tên Ca Sỹ</label>
        <input placeholder="Nhập Tên Ca Sỹ" name="singer_name" type="text">
    </div>
    <div class="field">
        <label>Hình Ảnh</label>
        <input name="img" type="file">
    </div>
    <div class="field">
        <label>Ghi Chú</label>
        <textarea name="singer_note"></textarea>
    </div>
    <div class="ui primary submit button">Thêm Mới</div>
    <div class="ui error message"></div>
</form>
