@model IEnumerable<ProjectMusicSound.Models.User>
@{
    ViewBag.Title = "Thùng Rác";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="wrapper">
    <div class="ui three item menu">
        <a href="@Url.Action("Index", "UsersAdmin")" class="item">Tất Cả Tài Khoản</a>
        <a href="@Url.Action("DeleteUsers", "UsersAdmin")" class="item active">Thùng Rác</a>
    </div>
    <div ng-app="myApp">
        <div ng-controller="myCtrl">
            <div class="ui horizontal divider">Tìm Kiếm Theo Từ Khoá</div>
            <form class="ui form segment">
                <h3 style="color: #0e607a">Có {{(list | filter:textSearch).length}} Người Dùng</h3>
                <div class="two fields">
                    <div class="field">
                        <label>Tìm Theo Mã Tài Khoản</label>
                        <div class="ui category search">
                            <div class="ui icon input">
                                <input class="prompt" type="text" placeholder="Nhập mã tìm kiếm: MS-..." ng-model="textSearch.user_code">
                                <i class="search icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Tìm Theo Tên</label>
                        <div class="ui category search">
                            <div class="ui icon input">
                                <input class="prompt" type="text" placeholder="Nhập tên cần tìm: ..." ng-model="textSearch.user_name">
                                <i class="search icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                    </div>
                </div>
                <div class="three fields">
                    <div class="field">
                        <label>Tìm Theo Email</label>
                        <div class="ui category search">
                            <div class="ui icon input">
                                <input class="prompt" type="text" placeholder="Nhập email cầm tìm..." ng-model="textSearch.user_email">
                                <i class="search icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Tìm Theo Ngày Tạo</label>
                        <div class="ui category search">
                            <div class="ui icon input">
                                <input class="prompt" type="date" placeholder="Chọn ngày cần tìm..." ng-model="textSearch.user_datecreate">
                            </div>
                            <div class="results"></div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Tìm Theo Ngày Đăng Nhập</label>
                        <div class="ui category search">
                            <div class="ui icon input">
                                <input class="prompt" type="date" placeholder="Chọn ngày cần tìm..." ng-model="textSearch.user_datelogin">
                                <i class="search icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                    </div>
                </div>
            </form>
            <table class="ui compact celled definition table text-center">
                <thead>
                    <tr>
                        <th></th>
                        <th>Mã Tài Khoản</th>
                        <th>Họ Tên</th>
                        <th>Avatar</th>
                        <th>Email</th>
                        <th>Mật Khẩu</th>
                        <th>Ngày Tạo</th>
                        <th>Ngày Đăng Nhập</th>
                        <th>Tuỳ Chọn</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="list in filteredTodos | filter : textSearch">
                        <td class="collapsing">
                            <div ng-show="list.user_active == true">
                                <input type="checkbox" checked>
                            </div>
                            <div ng-show="list.user_active == false">
                                <input type="checkbox">
                            </div>
                        </td>
                        <td>
                            {{list.user_code}}
                        </td>
                        <td>{{list.user_name}}</td>
                        <td>
                            <img class="ui medium rounded image" src="~/Images/User/{{list.user_img}}" style="width: 50px; height: 50px">
                        </td>
                        <td>{{list.user_email}}</td>
                        <td>{{list.user_pass}}</td>
                        <td>{{list.user_datecreate}}</td>
                        <td>{{list.user_datelogin}}</td>
                        <td>
                            <div ng-show="list.user_option == true">
                                <input type="checkbox" checked>
                            </div>
                            <div ng-show="list.user_option == false">
                                <input type="checkbox">
                            </div>
                        </td>
                        <td>
                            <a class="ui icon bottom left pointing dropdown button mb-2">
                                <i class="eye icon"></i>
                            </a>
                            <br />
                            <a href="/Admin/UsersAdmin/Edit/{{list.user_id}}" class="ui icon bottom left pointing dropdown button mb-2">
                                <i class="edit outline icon"></i>
                            </a>
                            <br />
                            <a data-toggle="modal" data-target="#del-{{list.user_id}}" class="ui icon bottom left pointing dropdown button">
                                <i class="recycle icon"></i>
                            </a>
                            <!-- Modal Khôi Phục -->
                            <div class="modal fade" id="del-{{list.user_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Khôi Phục Tài Khoản</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Bạn có muốn khôi phục lại tài khoản {{list.user_email}} không ?
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-secondary" data-dismiss="modal">Đóng</a>
                                            <a href="/Admin/UsersAdmin/Del/{{list.user_id}}" class="btn btn-primary">Đồng ý</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot class="full-width">
                    <tr>
                        <th colspan="10">
                            <pagination ng-model="currentPage" total-items="list.length" max-size="maxSize" boundary-links="true"></pagination>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<!--    Script sematic checkbox    -->
<script>
    $('.test.checkbox').checkbox('attach events', '.toggle.button');
</script>
<!--    js Json     -->
<script src="~/Scripts/Json/Admin/DelUsers.js"></script>