@using ProjectMusicSound.Models
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Action("Menu", "View")

<div class="mb-5 mt-5 container">
    <div class="ui tabular menu">
        <div class="item active" data-tab="tab-name">Thẻ Tín Dụng/Thẻ Ghi Nợ</div>
        <div class="item" data-tab="tab-name2">Ví Điện Tử (MoMo)</div>
    </div>
    <div class="ui tab active" data-tab="tab-name">
        <form class="ui form segment">
            <p>Vui lòng điền thông tin thẻ</p>
            <div class="field">
                <label>Nhập tên chủ thẻ</label>
                <input placeholder="Tên chủ thẻ" name="name" type="text">
            </div>
            <div class="field">
                <label>Nhập số thẻ</label>
                <input placeholder="Số thẻ" name="name" type="text">
            </div>
            <div class="field">
                <label>Chọn tên ngân hàng</label>
                <select name="skills" class="ui dropdown">
                    <option value="">Chọn ngân hàng</option>
                    <option value="css">CSS</option>
                    <option value="html">HTML</option>
                    <option value="javascript">Javascript</option>
                    <option value="design">Graphic Design</option>
                    <option value="plumbing">Plumbing</option>
                    <option value="mech">Mechanical Engineering</option>
                    <option value="repair">Kitchen Repair</option>
                </select>
            </div>
            <div class="ui primary submit button">Thanh Toán</div>
            <div class="ui error message"></div>
        </form>
    </div>
    <div class="ui tab" data-tab="tab-name2">
        <div class="ui form segment">
            <div class="row">
                <div class="col-lg-4">
                    <center>
                        <img class="ui medium rounded image" src="~/Images/Banner/logomomo.png">
                    </center>
                </div>
                <div class="col-lg-8">
                    <form class="ui form segment">
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.tabular.menu .item').tab();
</script>
<script>
    $('.ui.dropdown')
        .dropdown()
        ;
</script>

