@using ProjectMusicSound.Models
@model List<Album>
<section class="oneMusic-buy-now-area has-fluid bg-gray section-padding-100" ng-controller="myAlbum">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="section-heading style-2">
                    <p>Hôm nay nghe gì</p>
                    <h2>Album Mới Phát Hành</h2>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Single Album Area -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-2" ng-repeat="list in list">
                <div class="single-album-area wow fadeInUp" data-wow-delay="100ms">
                    <div class="album-thumb">
                        <img class="ui medium rounded image" src="~/Images/{{list.album_img}}" alt="{{list.album_name}}" style="width: 177px; height: 177px">
                        <!-- Album Price -->
                        <div class="album-price">
                            <p>$0.90</p>
                        </div>
                    </div>
                    <div class="album-info">
                        <a href="#">
                            <h5>{{list.album_name}}</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="load-more-btn text-center wow fadeInUp" data-wow-delay="300ms">
                    <a href="#" class="btn oneMusic-btn">Load More <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>