@using ProjectMusicSound.Models
@model List<Music>
@{
    ViewBag.Title = "NewHit";
    MusicDataEntities db = new MusicDataEntities();
    List<Music_Singer> music_Singers = db.Music_Singer.ToList();
}
<!-- ***** New Hits Songs ***** -->
<div class="col-12 col-lg-4" ng-controller="myNewHit">
    <div class="new-hits-area mb-100">
        <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
            <p>Hôm nay nghe gì?</p>
            <h2>Nhạc Mới</h2>
        </div>

        <!-- Single Top Item -->
        <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms" ng-repeat="list in list">
            <div class="first-part d-flex align-items-center">
                <div class="thumbnail">
                    <img src="~/Images/{{list.music_img}}" style="width: 73px; height: 73px" alt="{{list.music_name}}">
                </div>
                <div class="content-">
                    <a href="/Musics/Details/{{list.music_id}}" style="color: black"><h6>{{list.music_name}}</h6></a>
                    <p>{{list.listarrsing}}</p>
                </div>
            </div>
        </div>
    </div>
</div>