@using ProjectMusicSound.Models
@model List<Music>
@{
    ViewBag.Title = "NewHit";
    MusicDataEntities db = new MusicDataEntities();
    List<Music_Singer> music_Singers = db.Music_Singer.ToList();
}
<!-- ***** New Hits Songs ***** -->
<div class="col-12 col-lg-4" ng-app="myApp" ng-controller="myCtrl">
    <div class="new-hits-area mb-100">
        <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
            <p>Hôm nay nghe gì?</p>
            <h2>Nhạc Mới</h2>
        </div>

        <!-- Single Top Item -->
        <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms" ng-repeat="list in list">
            <div class="first-part d-flex align-items-center">
                <div class="thumbnail">
                    <img src="~/Images/{{list.music_img}}" style="width: 73px; height: 73px" alt="">
                </div>
                <div class="content-">
                    <h6><a href="/Musics/Details/{{list.music_id}}" style="color: black">{{list.music_name}}</a></h6>
                    @foreach (var item in Model.Take(1))
                    {
                        if (item.User.role_id == 1)
                        {
                            <p>{{list.namesinger}}</p>
                        }
                        else
                        {
                            foreach(var items in music_Singers.Where(n => n.music_id == item.music_id))
                            {
                                <p>@items.Singer.singer_name</p>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Json/User/MusicShow.js"></script>