@using ProjectMusicSound.Models
@model List<Music>
<section class="oneMusic-buy-now-area bg-gray has-fluid section-padding-100" ng-controller="myRadio">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="section-heading style-2">
                    <h2>Top Radio</h2>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Single Album Area -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-2" ng-repeat="list in list">
                <div class="single-album-area wow fadeInUp" data-wow-delay="100ms">
                    <div class="album-thumb">
                        <img class="ui medium rounded image" src="~/Images/{{list.music_img}}" alt="{{list.music_name}}" style="width: 177px; height: 177px">
                        <!-- Album Price -->
                        <div class="album-price">
                            <p>{{list.music_view}}</p>
                        </div>
                    </div>
                    <div class="album-info">
                        <a href="/Musics/Details/{{list.music_id}}">
                            <h5>{{list.music_name}}</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="load-more-btn text-center wow fadeInUp" data-wow-delay="300ms">
                    <a href="#" class="btn oneMusic-btn">Xem Tất Cả <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

